header {
    text-align: center;
}

body {
    background-color: aliceblue;
    text-align: center;
    border: 4px solid black;
    border-radius: 5px;
}


.textfield, .checkbox, .myDiv {
    margin: 15px 10px 15px 10px;
}

.myDiv {
    border: 2px solid black;  
}




